.headerContainer{
  background-color: rgba(217, 217, 217);
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 150px;
  height: auto;
  margin: 1rem;
  margin-left: 50px;
}